
*.class
Year 3/Application Development with C++/Assignment 2/MFCArkanoid/.vs/MFCArkanoid/v15/ipch/9ebf24c313cc4252.ipch
Year 3/Application Development with C++/Assignment 1/Assignment 1 Task 1/.vs/Assignment 1 Task 1/v15/ipch/AutoPCH/_SFI_D18BFED7-5C90-4401-9DB2-B6F5725B9FF6_-e72a69fa/ASSIGNMENT 1 TASK 2-cd7066f5/ASSIGNMENT 1 TASK 2.ipch
